:root{
    --font-primary: 'Nunito', sans-serif;

    --color-primary: #FD377E;
    --color-primary-2: #E34981;
    --color-segundary: #03B898;

    --grey-1: #F8F9FA;
    --grey-2: #E9ECEF;
    --grey-3: #868E96;
    --grey-4: #212529;

    --title-1: 38px;
    --title-2: 22px;
    --title-3: 16px;
    --title-4: 12px;
    
    --radius-1: 8px;
    --radius-2: 2px;
}